PORT=5000
MONGODB_URI=
CLIENT_URL=http://localhost:5173
LICHESS_API_TOKEN=your_lichess_api_token_here

# Development Player Lichess Accounts & Tokens (development-only bridge)
LICHESS_USER_PLAYER_1=pavakka_ib
LICHESS_TOKEN_PLAYER_1=your_player_1_lichess_token_here

LICHESS_USER_PLAYER_2=indirabanus
LICHESS_TOKEN_PLAYER_2=your_player_2_lichess_token_here

LICHESS_USER_PLAYER_3=player3_lichess
LICHESS_TOKEN_PLAYER_3=your_player_3_lichess_token_here

LICHESS_USER_PLAYER_4=player4_lichess
LICHESS_TOKEN_PLAYER_4=your_player_4_lichess_token_here
